

<body>
    <div class="A4">
        <a href="/" class="A4X1">
            <button class="A4X button-1" type="button">
                
                <svg class="SVGX" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 17 17" fill="none">
                    <path d="M14.875 7.08332H2.125M14.875 8.14582V6.23332C14.875 5.04321 14.875 4.44816 14.6434 3.99359C14.4397 3.59375 14.1146 3.26867 13.7147 3.06493C13.2602 2.83332 12.6651 2.83332 11.475 2.83332H5.525C4.33489 2.83332 3.73983 2.83332 3.28527 3.06493C2.88543 3.26867 2.56034 3.59375 2.35661 3.99359C2.125 4.44816 2.125 5.04321 2.125 6.23332V12.1833C2.125 13.3734 2.125 13.9685 2.35661 14.4231C2.56034 14.8229 2.88543 15.148 3.28527 15.3517C3.73983 15.5833 4.33489 15.5833 5.525 15.5833H8.85417M11.3333 1.41666V4.24999M5.66667 1.41666V4.24999M12.3941 11.1293C11.8985 10.5774 11.0719 10.4289 10.4509 10.9343C9.82981 11.4397 9.74237 12.2846 10.2301 12.8823C10.7178 13.48 12.3941 14.875 12.3941 14.875C12.3941 14.875 14.0705 13.48 14.5582 12.8823C15.0459 12.2846 14.9691 11.4343 14.3374 10.9343C13.7057 10.4342 12.8898 10.5774 12.3941 11.1293Z" stroke="#D48D8D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h2>Today</h2>
                
            </button>
        </a>
        <a href="/workpage" class="A4X1">
            <button class="A4X button-1" type="button">
                <svg class="SVGX" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                    <path d="M9.91667 7.79166H5.66667M7.08333 10.625H5.66667M11.3333 4.95832H5.66667M14.1667 4.81666V12.1833C14.1667 13.3734 14.1667 13.9685 13.9351 14.4231C13.7313 14.8229 13.4062 15.148 13.0064 15.3517C12.5518 15.5833 11.9568 15.5833 10.7667 15.5833H6.23333C5.04322 15.5833 4.44816 15.5833 3.9936 15.3517C3.59376 15.148 3.26867 14.8229 3.06494 14.4231C2.83333 13.9685 2.83333 13.3734 2.83333 12.1833V4.81666C2.83333 3.62654 2.83333 3.03149 3.06494 2.57693C3.26867 2.17708 3.59376 1.852 3.9936 1.64827C4.44816 1.41666 5.04322 1.41666 6.23333 1.41666H10.7667C11.9568 1.41666 12.5518 1.41666 13.0064 1.64827C13.4062 1.852 13.7313 2.17708 13.9351 2.57693C14.1667 3.03149 14.1667 3.62654 14.1667 4.81666Z" stroke="#D48D8D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h2>Work</h2>
            </button>
        </a>
    </div>
</body>